@model CollegeManagementSystem.Models.StudentCourses
    
<h2 class="alert alert-success text-center">Successfull, want to add again!</h2>
<form asp-controller="StudentCourses" asp-action="Create" method="post">

    <label>Select student:</label>
    <select class="form-control" asp-for="studentId" asp-items="@ViewBag.AllStudents"></select>

    <label>Select Course:</label>
    <select class="form-control" asp-for="courseId" asp-items="@ViewBag.AllCourses"></select>

    <div>
        <button class="btn btn-info mt-2" type="submit">Assign</button>
    </div>
</form>
<br />
