@using College_Management_System.Models;
@model Courses
<h1 class="alert alert-info ">Create Course</h1>
<br />
<form class="col-3" method="post" asp-action="CreateC" asp-controller="Courses" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row mb-1">
		<div class="col">

			<!-- Name input -->
			<div class="form-outline">

				<label asp-for="course_name"></label>
				<input asp-for="course_name" type="text" class="form-control" />
				<span asp-validation-for="course_name" class="text-danger"></span>

			</div>
		</div>

		<!-- Description input -->
		<div class="col">
			<div class="form-outline">

				<label asp-for="course_desc"></label>
				<input asp-for="course_desc" type="text" id="form3Example2" class="form-control" />
				<span asp-validation-for="course_desc" class="text-danger"></span>

			</div>
		</div>

	</div>

	<!-- Submit button -->
	<button type="submit" class="btn btn-primary btn-block mb-4">Add</button>
</form>
<a class="btn btn-primary btn-block mb-4" asp-action="GetIndexView" asp-controller="Courses">Back to list</a>

